
    <nav class="navbar navbar-expand-md navbar-light bg-primary">
        <!--<a class="navbar-brand" routerLink="/">StoresManagementSystem</a>-->
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link active" routerLink="/storesapp" *ngIf="role === null">Home </a>
                </li>
                <li class="nav-item active" *ngIf="role !== null">
                    <a class="nav-link" (click)="home()" >Home </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/getpayments" *ngIf="role === 'ROLE_MANUFACTURER'">Payments </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/products" *ngIf="role === 'ROLE_MANUFACTURER'">Products </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/getdealprods" *ngIf="role === 'ROLE_DEALER'">MyProducts</a>  
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/getorders" *ngIf="role === 'ROLE_DEALER' || role === 'ROLE_CUSTOMER'">Orders</a>
                </li> 
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/admin" *ngIf="role === 'ROLE_ADMIN'">Manufacturers</a>
                </li> 
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/cartitems" *ngIf="role === 'ROLE_DEALER' || role === 'ROLE_CUSTOMER'">View Cart</a>
                </li> 
            </ul>
            <ul class="navbar-nav ml-aupaymentsto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/register" *ngIf="role === null">Register</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/login" *ngIf="role === null">Login </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" (click)="logout()" *ngIf="role !== null">Logout </a>
                </li>
            </ul>
           <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>-->
        </div>
    </nav>
    <router-outlet></router-outlet>
