<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active" routerLink="getproducts">Products</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" routerLink="addProduct">Add Product</a>
                    </li>
                  </ul>
            </div>
            <div class="col-md-8">
                <router-outlet></router-outlet>
            </div>
        </div>  
    </div>
</body>
</html>

