<div id="carouselExampleIndicators" class="carousel slide mt-3" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active"
            style="background-image: url('https://cdn.pixabay.com/photo/2017/03/13/17/26/ecommerce-2140604_1280.jpg')">
            <div class="carousel-caption d-none d-md-block">

                <p class="lead"></p>
            </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('https://cdn.pixabay.com/photo/2017/06/21/20/51/tshirt-2428521_1280.jpg')">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        <div class="carousel-item"
            style="background-image: url('https://cdn.pixabay.com/photo/2016/11/19/11/33/footwear-1838767_1280.jpg')">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="jumbotron mx-5 mt-5">
    <h1 class="display-6">Store Managment System Application</h1>
    <p class="lead">This application helps to manage details of your products and payment details for any product and make it easy to get more informatioon</p>
    <p>As a manufacturer you can add products, update product details</p>
    <p>As a dealer you can buy products from manufacturers and you can have your purchased products list</p>
    <p>You can track the orders and payments</p>
    <hr class="my-4">
    
   
  </div>