<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manufacturer</title>
</head>
<body>
   <!-- <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" routerLink="#">Add-Product</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="#">get Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " routerLink="#">Get Payments</a>
        </li>
    </ul>-->
</body>
</html>